#main
{
   margin-left: 18%;
   margin-top: 6%;
}
.test
{
    border:2px solid black;
}


.data .box {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
  }
  
  .data .box .pic {
    overflow: hidden;
    width: 120px;
    border-radius: 5%;
  }
  
  .data .box .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .data .box:hover {
    transform: translateY(-10px);
  }
  
  .data .box .box-info {
    padding-left: 30px;
  }
  
  .data .box h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
  }
  
  .section-title {
    text-align: center;
    padding-top: 30px;
  }
  
  .section-title h2 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #213b52;
  }
  

 
  .card {
    display: block; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:150px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    transition: all .25s ease;
  } 
  .card-content {
    padding:15px;
    text-align:left;
  }
  .card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
  }
  .card-title a {
    color: #000;
    text-decoration: none ;
  }
  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none ;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }


 
  
